.filters {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;

  .searchInput {
    width: 200px;
  }

  .select {
    width: 200px;
  }

  .filterButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 67px;

    &:hover {
      background-color: #0056b3;
    }

    &:active {
      background-color: #004494;
    }
  }
}